apiVersion: v1
kind: Service
metadata:
  name: sample-service
  namespace: production
spec:
  selector:
    app: sample-service
  ports:
    - name: http
      port: 80
      targetPort: 3000
  type: ClusterIP
